<body>
    <div class="row bg-kohinor-2 p-5 mt-5 mx-0 container-fluid">
        <h1 class="pt-3"><b class="text-white">Kohinor SB</b></h1>
    </div>
    <div class="row mt-5 mb-5 mx-0 container-fluid">
        <div class="col-md-1"> </div>
        <div class="col-md-10">
            <h4>El Sistema  Integrado  de  Información – KOHINOR SB, tiene como objetivo apoyar a la gestión de la empresa mediante el manejo integral de la INFORMACIÓN Financiera, Administrativa, Contable  y de Producción, orientados a mejorar los niveles de productividad, competitividad, eficiencia y eficacia en la entrega de bienes y/o servicios a los clientes externos.</h4>
        </div>
        <div class="col-md-1"> </div>
    </div>
    <div class="row mt-5 mb-5 mx-0 container-fluid">
        <div class="col-md-1"> </div>
        <div class="col-md-4"> <img class="img-fluid" alt="Bootstrap Image Preview" src="images/bodyKohinor1.jpeg"></div>
        <div class="col-md-2"> </div>
        <div class="col-md-4">
            <h4>KOHINOR SB es un producto de software que dispone de herramientas de apoyo para la toma de decisiones, las mismas que están sustentadas en nuevos conceptos organizacionales orientados a fortalecer a la empresa previa la consecución de la calidad total en cada uno de sus productos.</h4>
            <h4>El sistema de información KOHINOR SB está conformado por módulos interrelacionados, que apoyan a la gestión en cada uno de los procesos operativos y decisionales de las empresas de los sectores: industrial, comercial, servicios, gubernamentales, entre otros.</h4>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row mt-5 mb-5 mx-0 container-fluid">
        <div class="col-md-1"> </div>
        <div class="col-md-10">
            <h4>Todos los módulos que conforman el sistema de información KOHINOR DBS funcionan de manera integral e interrelacionada, cada uno con sus propias facilidades y características orientadas a  apoyar la gestión del negocio con los respectivos controles.</h4>
        </div>
        <div class="col-md-1"></div>
    </div>
    <hr class="bg-kohinor-2">
    <div class="row mt-5 mb-5 mx-0 container-fluid">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>Descubre más sobre Kohinor SB</h3>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="d-flex justify-content-evenly mt-5 mb-5 mx-0 container-fluid">
        <div class="col-md-4">
            <div class="card w-75 m-auto">
                <img class="img-fluid card-image-top" alt="Bootstrap Image Preview" src="images/bodyKohinor2.jpeg">
                <div class="card-body mt-3 mb-3">
                    <h4> <b>Funcionalidades </b></h4>
                    <h5>Entra y descubre los módulos que conforman nuestro sistema.</h5>
                    <a class="btn btn-outline-kohinor mt-3 mb-3 form-control" href="../funcion">Más Información</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card w-75 mx-auto">
                <img class="img-fluid card-image-top" alt="Bootstrap Image Preview" src="images/bodyKohinor3.jpeg">
                <div class="card-body mt-3 mb-3">
                    <h4> <b>Planes </b></h4>
                    <h5>Contrata el sistema que cambiará tu empresa, innovando y optimizando sus áreas de trabajo.</h5>
                    <a class="btn btn-outline-kohinor mt-3 mb-3 form-control" href="../planes">Más Información</a>
                </div>
            </div>
        </div>
    </div>
</body>