body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}

a {
  color:white;
}
.row.bg-blue{
  background-color: aqua;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.position-sticky.pt-3{
  background-color: #1F2346;
  height: 100vh;
}
.txtTitulo{
  color: white;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
    color: black;
  }
}
