body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}

a {
  color:white;
}
.row.bg-blue{
  background-color: aqua;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.position-sticky.pt-3{
  background-color: #1F2346;
  height: 100vh;
}
.txtTitulo{
  color: white;
}

#BannerFactura{
  background-image: url(../images/FondoFactura.jfif);
  filter: blur(30%);
  background-size: cover;
  min-height: 130px;
}

.bg-kohinor{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 40%, rgba(140,59,132,0.9528186274509804) 71%, rgba(75,63,126,1) 100%);
}

.lt-kohinor{
  color: #1C144C !important;
}

.btn-outline-kohinor{
  border-color: #853F86 !important;
  background-color: white !important;
}
.btn-dark-kohinor{
  border-color: #4251A5 !important;
  background-color: #4251A5 !important;
  color: white !important;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
    color: black;
  }
}
