<body data-new-gr-c-s-check-loaded="14.1001.0" data-gr-ext-installed="" cz-shortcut-listen="true">
    <div class="c-wrapper c-fixed-components">
        <div class="c-body">
            <h1 class="txt-ticket-1">Crear Modulo</h1>
            <p class="txt-ticket-2"> Llene todos los campos a continuación</p>
            <div class="container-fluid mx-0">
                <form class="g-3" action="" method="post" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Nombre<input class="form-control" id="asunto" type="text" placeholder="Nombre" name="nombre" required=""></p>
                        </div>
                        <div class="col-md-6">
                            <p>Descripción<input class="form-control" id="usuario" type="text" placeholder="Descripción" name="descripcion" required=""></p>
                        </div>
                        <div class="col-md-6">
                            <p>Precio<input class="form-control" id="usuario" type="number" placeholder="Precio" name="precio" required=""></p>
                        </div>
                    </div>
                    <div class="row d-flex flex-row-reverse"><button class="btn btn-outline-dark m-2 btn-outline-kohinor" type="submit">Enviar</button></div>
                </form>
            </div>
        </div>
    </div>
</body>