<body data-new-gr-c-s-check-loaded="14.1001.0" data-gr-ext-installed="" cz-shortcut-listen="true">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12"></div>
            <h2 class="mt-5"> ¿Quiéres formar parte de la familia Kohinor SB?</h2>
            <p> ¡Regístrate y escoge un plan! </p>
        </div>
        <div class="row bg-kohinor-2">
            <p>         </p>
        </div>
    </div>
    <div class="row g-3 mt-4 mx-0 container-fluid">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body d-flex justify-content-evenly align-items-center">
                    <form class="row g-3" (ngSubmit)="onUserCreateSubmit()">
                        <div class="col-md-10">
                            <h5><b>Sign up for a free account</b></h5>
                        </div>
                        <div class="col-md-5"><input [(ngModel)]="newUser.nombre" class="form-control" id="nombre" type="text" placeholder="First name" name="name" required=""></div>
                        <div class="col-md-5"><input [(ngModel)]="newUser.apellido" class="form-control" id="apellido" type="text" placeholder="Last name" name="lastname" required=""></div>
                        <div class="col-md-10"> <input [(ngModel)]="newUser.email" class="form-control" id="email" type="text" placeholder="Email address" name="email" required=""></div>
                        <div class="col-md-10"><input [(ngModel)]="newUser.contrasena" class="form-control" id="password" type="password" placeholder="Create Password" name="crtpsw" required=""></div>
                        <div class="col-md-10"><button class="btn btn-outline-dark m-2 form-control btn-outline-kohinor" type="submit">Registrarse</button></div>
                    </form>
                    <div class="col-md-4"><img class="img-fluid" alt="Bootstrap Image Preview" src="images/Logotipo_Kohinor_3.png"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row bg-kohinor-2 mt-5 mb-4 mx-0 container-fluid">
        <p>    </p>
    </div>
    <div class="container-fluid bg-kohinor-light"></div>
</body>
