extends layout

block content
  .container-fluid
    .row
        .col-md-12
        img.img-fluid(alt='Bootstrap Image Preview' src='images/dummy.jpg')
        p.mt-5
            | PowerSoft Cía. Ltda., está conformada por un equipo de profesionales especializados en Tecnologías de Información y Comunicaciones, Administración de Negocios con experiencia en los sectores público y privado.

        p
            | Nuestros productos y servicios están orientados a satisfacer las necesidades de manejo y gestión de la información mediante el soporte en tecnologías de información dentro de las Entidades, brindando soluciones integrales para el manejo óptimo y adecuado de la información, apoyando a las Organizaciones en la generación de Bienes y/o Servicios de CALIDAD.

        p
            |   A través de nuestros productos y servicios, la experiencia en el asesoramiento a Instituciones y Empresas, en base al uso y aplicación de Tecnologías de Información, nos han calificado para ser proveedores en el mercado nacional de soluciones integrales, para la desafiante problemática empresarial e institucional de todos nuestros clientes.

    .row.bg-dark
        p 
            |         
    
    .row
        .col-md-12 
        h3 
            | Conoce a nuestros profesionales
    .row    
        .col-md-4
            img.img-fluid.img-thumbnail(alt='Bootstrap Image Preview' src='images/dummy2.png')
            p 
                | Nombre 
            p 
                | Cargo
        .col-md-4
            img.img-fluid.img-thumbnail(alt='Bootstrap Image Preview' src='images/dummy2.png')
            p 
                | Nombre 
            p 
                | Cargo
        .col-md-4
            img.img-fluid.img-thumbnail(alt='Bootstrap Image Preview' src='images/dummy2.png')
            p 
                | Nombre 
            p 
                | Cargo
