extends layout

block content
    #BannerFactura.container-fluid.pt-3 
        h1.text-center.text-white
            b Konihor SB
        h3.text-center.text-white
            b Tarifas

    .row.g-3.mt-4 
        .col-md-4 
            h2.text-center  
                b Revisar orden
        .col-md-4 
            h2.text-center  
                |Direccion 
        .col-md-4
            h2.text-center  
                |Confirmar Pedido
    
          
    .row.mt-5 
        .col-md-1
        .col-md-6
            hr
            .row 
                .col-md-6 
                    h4.text-left 
                        b Producto
                .col-md-3 
                    h4.text-left 
                        b Cantidad 
                .col-md-3
                    h4.text-left 
                        b Precio
            hr
            each element in carrito
                .row 
                    .col-md-6
                        h5.text-left #{element.producto}
                    .col-md-3 
                        h5.text-left #{element.cantidad}
                    .col-md-3 
                        h5.text-left #{element.precio}
            .d-flex.justify-content-end.mt-4
                a.btn.btn-dark.bg-kohinor-2(href='/factura') Siguiente
                


        .col-md-4 
            .card 
                .card-body
                    .row 
                        .col-md-8 
                            h6.text-left X Usuarios 
                        .col-md-4 
                            h6.text-right xxx USD 
                    hr
                    .row 
                        .col-md-8 
                            h6.text-left Descuento para usuarios 
                        .col-md-4 
                            h6.text-right xxx USD
                    hr
                    .row 
                        .col-md-8 
                            h6.text-left X Modos 
                        .col-md-4 
                            h6.text-right xxx USD
                    hr
                    .row 
                        .col-md-8 
                            h5.text-left Total 
                        .col-md-4 
                            h5.text-right xxx USD 


    .row
        .col-md-5
            
                           

    