extends layout

block content
    #BannerFactura.container-fluid.pt-3 
        h1.text-center.text-white
            b Konihor SB
        h3.text-center.text-white
            b Tarifas

    .row.g-3.mt-4.container-fluid.mx-0
        .col-md-4 
            h2.text-center  
                b Revisar orden
        .col-md-4 
            h2.text-center  
                |Direccion 
        .col-md-4
            h2.text-center  
                |Confirmar Pedido
    .row.mt-5.container-fluid.mx-0
        .col-md-1
        .col-md-10
            hr
            .row 
                .col-md-6 
                    h4.text-left 
                        b Producto
                .col-md-3 
                    h4.text-left 
                        b Cantidad 
                .col-md-3
                    h4.text-left 
                        b Precio
            hr
            .col-md-13
                .card
                    #cardModulo
                script(src="../scripts/carrito.js").
                script.
                    modulosFactura();
            .d-flex.justify-content-end.mt-4
                a.btn.btn-dark.bg-kohinor-2(href='/factura') Siguiente
    .row.container-fluid.mx-0
        .col-md-5
            
                           

    