extends layout

block content
    .container-fluid.mt-2
        .row
            h2.text-center 
                |Kohinor SB
            h3.text-center 
                |Tarifas
            p
    .row.bg-blue
        p 
            |                
    .row 
        .col-md-4 
            h2.text-center  
                |Revisar orden
        .col-md-4 
            h2.text-center  
                |Direccion 
        .col-md-4
            h2.text-center  
                |Confirmar Pedido
    .row.bg-dark
        p 
            |                
    .row 
        .col-md-4 
            h2.text-left  
                |Producto
        .col-md-2 
            h2.text-center  
                |Cantidad 
        .col-md-1
            h2.text-left  
                |Precio
    .row.bg-dark
        p 
            |    

    .row   
        .col-md-8 
            each element in carrito 
                    .row 
                        .col-md-7
                            .card.h-100
                                .card-block
                                    h4.card-title.bg-success.p-4 #{element.producto}
                        .col-md-1 
                            .card.h-100
                                .card-block
                                    h6.text-center.card-subtitle #{element.cantidad}
                        .col-md-2
                            .card.h-100
                                .card-block
                                    p.text-center.card-subtitle #{element.precio}
        .col-md-3
            img.img-fluid(alt='Bootstrap Image Preview' src='images/dummy.jpg')
    .row
        .col-md-5
            a.btn.btn-outline-success(href='/factura') Siguiente
                           

    