extends layout

block content
    .container-fluid.mt-5
        .row.text-center
            .col-md-12.bg-kohinor-2(style="height:10vw")
               
            .col-md-12.mt-5.mb-5    
                h3 
                    b Horas de Apertura
                h4 Lunes-Viernes: 09:00-17:00 Hrs 
                h4 Sábados: cerrado
                h4 Domingos: cerrado      
        .row.text-center.bg-kohinor-2.p-5
            .col-md-12
                h3(style="color: white")
                    b Dirección
                h4(style="color: white") Av. Azucenas y de Los Naranjos 
                h4(style="color: white") N4415 Lote 30
                h4(style="color: white") Quito, Ecuador
                h4(style="color: white") Telefono: 0979551886
                h4(style="color: white") Email: info@kohinorerp.com
 
              
