extends layout

block content
  .container-fluid
    .row.text-center
        .col-md-12
        img.img-fluid(alt='Bootstrap Image Preview' src='images/dummy.jpg')
        p.mt-5
            |  Horas de Apertura
        p
            |  Lunes-Viernes: 09:00-17:00 Hrs 

        p
            |  Sábados: cerrado
        p 
            |  Domingos: cerrado
    .row.bg-dark
        p 
            |         
    .row.text-center
        .col-md-12
        p.mt-5
            |  Dirección
        p
            |  Av. Azucenas y de Los Naranjos 

        p
            |  N4415 Lote 30

        p 
            |  Quito, Ecuador
        p 
            |  Telefono: 0979551886
        p 
            |  Email: info@kohinorerp.com
    .row.bg-dark
        p 
            |    
    
    .row
        .col-md-12
        img.img-fluid(alt='Bootstrap Image Preview' src='images/dummy.jpg')       
