extends dshboardAdmin

block content 

    h1.txt-ticket-1= title    
    p.txt-ticket-2 
        |Llene todos los campos a continuación

    .container-fluid.mx-0
        form.g-3(action='' method='post' role='form' enctype='multipart/form-data')                          
            .row
                .col-md-6
                    label.-label(for='file')
                    input#file(type='file' name='icono' accept="image/x-png,image/jpg,image/jpeg")
                .col-md-6
                .col-md-6
                    p Nombre
                        input#asunto.form-control(type='text' placeholder='Nombre' name='nombre' required='' value=nombre)
                .col-md-6
                    p Precio
                        input#usuario.form-control(type='number' placeholder='Precio' name='precio' required='' value=precio)
                .col-md-12
                    p Descripción
                        input#usuario.form-control(type='text' placeholder='Descripción' name='descripcion' required='' value=descripcion)
            .row.d-flex.flex-row-reverse
                button.btn.btn-outline-dark.m-2.btn-outline-kohinor(type='submit') Enviar