extends dshboard

block content 
    h1.txt-ticket-1  
        |Crear nuevo ticket
    p.txt-ticket-2 
        |Llene todos los campos a continuación

    .container-fluid.mx-0
        form.g-3(action='' method='post' role='form')
            .row                                
                .col-md-6
                    p Asunto
                        input#asunto.form-control(type='text' placeholder='Asunto' name='asunto' required='')
                    p
                .col-md-6
                    p Usuario
                        input#usuario.form-control(type='text' placeholder='Usuario' name='usuario' required='' value=usuario readonly='') 
                .col-md-6
                    p Fecha 
                        input#fecha.form-control(type='date' placeholder='Fecha' name='fecha' required='')
                .col-md-6
                    p Status
                        input#status.form-control(type='text' placeholder='Status' name='status' value= 'Enviado' required='' readonly='')
            .row.d-flex.flex-row-reverse
                    button.btn.btn-outline-dark.m-2.btn-outline-kohinor(type='submit') Enviar

                            