extends layout

block content
    app-framework 
block scripts
    script(src='/build/runtime.aa4d84d1c2416edc.js')
    script(src='/build/polyfills.41a009fb35663607.js')
    script(src='/build/main.65a0d2b4b6a5e8bc.js')
//- 
    extends layout

    block content
        .row.mt-4.pt-5.mx-0.container-fluid
            h1.text-center 
                b Kohinor SB
            h3.text-center.text-black Funcionalidades 
            h4.mt-5.mb-5 Nuestra solución de software ERP brinda un método fácil y efectivo de administrar y gestionar tu empresa,  optimizando recursos y controlando procesos empresariales.
    
        .row.mx-0.container-fluid
            - var i = 0
            each element in functions 
                .col-md-3
                    .card.m-5
                        .card-block.m-3
                            img.card-img-top(src=`${element.img}`)
                            h4.card-title #{element.nombre}
                            h5.card-subtitle #{element.descripcion}
                - i += 1
                if i%4 == 0
                    hr.bg-kohinor-2.p-4.container-fluid
                

                    


