extends layout

block content
  .container-fluid.mt-2
    #carouselExampleFade.carousel.slide.carousel-fade(data-bs-ride='carousel')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='/images/bannerAbout.jpeg' alt='...' position="relative")
          .carousel-content
            h3 Empresa de desarrollo de Software Contable, KOHINOR Smart Business, ideal para conectarte a tu empresa.
            a.btn.btn-dark-home(href="/about") Conócenos
        .carousel-item
          img.d-block.w-100(src='images/dummy.jpg' alt='...')
        .carousel-item
          img.d-block.w-100(src='images/dummy.jpg'  alt='...')
      button.carousel-control-prev(type='button' data-bs-target='#carouselExampleFade' data-bs-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.visually-hidden Previous
      button.carousel-control-next(type='button' data-bs-target='#carouselExampleFade' data-bs-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.visually-hidden Next
  
  .container1-fluid.m-2
    .row
      .col-md-6
        h3.t1-home
          |Todos tus procesos en un solo sistema
        p
          |
        p.tx1-home
          |Kohinor Smart Business integra todas las areas de tu empresa con soluciones enfocadas a Business Inteligence.
        p 
          |
          ul.tx2-home
            li Automatización de procesos.
            p 
              |
            li Disponibilidad de informacion en un mismo sistema.
            p 
              |
            li Eficiente manejo de información, permitiendo ahorro de tiempo y costes.
      .col-md-5
        p 
          |
        img.img-home(src='images/h1.png' height= '500px')
        p   
          |
        a.btn.btn-dark-home(href='/kohinor')
          | Más Información
        p 
          |

  .container2-fluid.m-2
    .row
      .col-md-5
          img(src='images/h2.png' height= '500px')
          
      .col-md-6
        
        p.tx3-home
          |Nuestra solución de software ERP brinda un método fácil y efectivo de administrar y gestionar tu empresa,  optimizando recursos y controlando procesos empresariales.
  .container3-fluid
    .row
      .col-md-12
        h3
          | Grupo Powersoft
        p.tx4-home
          | Nuestra solución de software ERP brinda un método fácil y efectivo de administrar y gestionar tu empresa,  optimizando recursos y controlando procesos empresariales.
    .img-kohinor-home
      .row
        .col-md-4
          img(alt='Bootstrap Image Preview' src='images/h3.png' height= '400px')
        .col-md-4
          img(alt='Bootstrap Image Preview' src='images/h4.png' height= '400px')
        .col-md-4
          img(alt='Bootstrap Image Preview' src='images/h5.png' height= '400px')
      .row.mt-4
        .col-md-4
          img(alt='Bootstrap Image Preview' src='images/h6.png' height= '400px')
        .col-md-4
          img(alt='Bootstrap Image Preview' src='images/h7.png' height= '400px')
        .col-md-4
          img(alt='Bootstrap Image Preview' src='images/h8.png' height= '400px')
          p 
            |
