extends layout

block content
  .container-fluid
    .row.text-center
        .col-md-12
        h2.mt-5
            |  ¡Ingresa a tu cuenta!
        p
            |  Nosotros nos encargamos del resto... 
    .row.bg-dark
        p 
            |         
    .container-fluid.m-2
        .row
            .col-md-2
                h3.mt-5
                    |  Login
                p
                input(type='text' placeholder='Email address' name='email' required='')
                p  
                input(type='password' placeholder='Enter Password' name='psw' required='')
                p
                a.btn.btn-outline-success(href='/overview') Login
                p
            .col-md-2
                img.img-fluid(alt='Bootstrap Image Preview' src='images/dummy.jpg')
    .row.bg-dark
        p 
            |    