extends layout

block content
    app-framework 
block scripts
    script(src='/build/runtime.aa4d84d1c2416edc.js')
    script(src='/build/polyfills.41a009fb35663607.js')
    script(src='/build/main.d4561f851f2b5ce5.js')

//-
    extends layout

    block content
        .container-fluid
            .row.text-center
                .col-md-12
                h2.mt-5
                    |  ¡Ingresa a tu cuenta!
                p
                    |  Nosotros nos encargamos del resto... 
            .row.bg-kohinor-2
                p 
                    |         
        
        .row.g-3.mt-4.mx-0.container-fluid
            .col-md-3
            .col-md-6
                .card
                    .card-body.d-flex.justify-content-evenly.align-items-center
                        form(action='' method='post' role='form')
                            h5.alig-self-left 
                                b LOGIN
                            input#email.form-control.m-2(type='text' name='email' placeholder='Email')
                            input#password.form-control.m-2(type='text' name='password' placeholder='Contraseña')
                            a.btn.btn-outline-dark.m-2.form-control.btn-outline-kohinor(href='/overview') Login
                        .col-md-6 
                            img.img-fluid(alt='Bootstrap Image Preview' src='images/Logotipo_Kohinor_1.png')
        
        .container-fluid.mt-5
            .row.bg-kohinor-2
                p 
                    |    
