extends dshboard

block content
    .container-fluid
        
        .row 
            .col-md-10
                h3 
                    |Hi User,
                p 
                    |Your Plan
        .row.bg-blue
            p 
            |      
            .col-md-9
                h4 
                    |Kohinor SB
                
                p 
                    | Starter plan
                p 
                    | Faster response
        
            .col-md-3
                p 
                    |
                p 
                 a.btn.btn-outline-success(href='/overview') Change plan
                
        .row 
            .col-md-10
                h3 
                    |Tickets
        .row    
            .col-md-4
                h4 
                    |Date
                
                p 
                    | ----/--/--
                p 
                    | ----/--/--
                p 
                    | ----/--/--
                p 
                    | ----/--/--
            .col-md-4
                h4 
                    | Topic
                p 
                    | -----
                p 
                    | -----
                p 
                    | -----    
               
            .col-md-4
                h4 
                    |Status
                
                p 
                    | solved
                p 
                    | solved
                p 
                    | solved
            
        .row    
            .col-md-4
                p 
                    |7/24 LIVE HELP
                img.img-fluid.img-thumbnail(alt='Bootstrap Image Preview' src='images/dummy.jpg')
                p 
                    | Canned responses are used to answer the questions quickly, but not necessarily the lead to closing a sale.  
                p 
                    | Faster response
            .col-md-4
                p 
                    |CLOUD DATABASE
                img.img-fluid.img-thumbnail(alt='Bootstrap Image Preview' src='images/dummy.jpg')
                p 
                    | A cloud database is a basically a scalable content database running on a cloud computing platform that can be private, public, or hybrid. 
               
            .col-md-4
                p 
                    |ENTERPRISE ACCOUNT
                img.img-fluid.img-thumbnail(alt='Bootstrap Image Preview' src='images/dummy.jpg')
                p 
                    | Enterprise solutions are designed to integrate multiple facets of a company's business through the interchange of information from various business process ... 
                

