extends layout

block content
    #BannerFactura.container-fluid.pt-3.pb-3 
        h1.text-center.text-white
            b Konihor SB
        h3.text-center.text-white
            b Tarifas
        h5.text-center.text-white Conoce el sistema que cambiará tu empresa, innovando y optimizando sus áreas de trabajo 
    .row
        .col-md-1 
        .col-md-6
            p
            .row
                h5 Elige el número de usuarios
                .col-md-3
                .col-md-6 
                    input.form-control.m-2
                .col-md-2 
                    h6.bg-kohinor-2.text-white.form-control.m-2 Usuarios
                .col-md-1
            .row
                h5 Elige tus módulos 
                select.form-select(name='nombres' multiple aria-label='multiple select materias')
                    each element in planes
                        option(value=element.ObjectId) #{element.nombre} -- $ #{element.precio}
        .col-md-4 
            p
            .card 
                .card-body
                    .row 
                        .col-md-8 
                            h6.text-left X Usuarios 
                        .col-md-4 
                            h6.text-right xxx USD 
                    hr
                    .row 
                        .col-md-8 
                            h6.text-left Descuento para usuarios 
                        .col-md-4 
                            h6.text-right xxx USD
                    hr
                    .row 
                        .col-md-8 
                            h6.text-left X Modos 
                        .col-md-4 
                            h6.text-right xxx USD
                    hr
                    .row 
                        .col-md-8 
                            h5.text-left Total 
                        .col-md-4 
                            h5.text-right xxx USD 
                    hr
                    .row 
                        .col-md-8 
                            a.btn.btn-dark-home(href="/carrito") Comprar

    .row.bg-kohinor-2.mt-4.mb-4.p-4
        
        h2.text-white 
            b Versiones de KOHINOR Smart Business
    .row
        .col-md-3 
        .col-md-6
            img.img-fluid.card-img-top(alt='Bootstrap Image Preview' src='images/modulosKohinor.png')
        .col-md-3
    .row    
        .col-md-3 
        .col-md-6
            h4 Para saber más información acerca de nuestros planes contáctanos.
            a.btn.btn-dark-kohinor.form-control(href='/contacto') CONTÁCTANOS
        .col-md-3