extends dshboard

block content
    .container-fluid
        
        .row 
            .col-md-10
                h3 
                    |Tickets,
        .row.bg-blue
            p 
            |      
            .col-md-9
                p
                input(type='text' placeholder='' name='email' required='')
        
            .col-md-3
                p 
                    |
                p 
                 a.btn.btn-outline-success(href='/overview') Crear Ticket
                
        .row 
            .col-md-10
                h3 
                    |Tickets
        .row    
            .col-md-2
                h4 
                    |Date
                
                p 
                    | ----/--/--
                p 
                    | ----/--/--
                p 
                    | ----/--/--
                p 
                    | ----/--/--
            .col-md-2
                h4 
                    | Name
                p 
                    | -----
                p 
                    | -----
                p 
                    | -----    
               
            .col-md-4
                h4 
                    |Descripcion
                
                p 
                    | solved
                p 
                    | solved
                p 
                    | solved
            .col-md-2
                h4 
                    |Responsable
                
                p 
                    | solved
                p 
                    | solved
                p 
                    | solved
            .col-md-2
                h4 
                    |Status
                
                p 
                    | solved
                p 
                    | solved
                p 
                    | solved
        

